.dropdown-item-text-color:hovers {
  color: black !important;
}


.dropdown-item-text-color{
  background-color: #33FFA5 !important;
}
.bg-secondary{
  background-color: #33FFA5 !important;
}

.mr-auto{
  color: #F63B2B!important;
}
